
<meta charset="utf-8">

<title>{{ .Title }}</title>
<meta name="description" content="{{ .Description }}">

<link rel="canonical" href="{{ .Permalink }}">

<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
<meta name="MobileOptimized" content="320">
<meta name="HandheldFriendly" content="True">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="{{ .Site.Params.mainColor }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="msapplication-TileColor" content="{{ .Site.Params.mainColor }}">

{{/*  Favicons  */}}
<link rel="shortcut icon" href="{{ .Site.Params.favicon }}">
<link rel="apple-touch-icon" href="{{ .Site.Params.favicon }}">
<link rel="icon" type="image/png" href="{{ .Site.Params.favicon }}">

{{/*  CSS  */}}
{{ $tailwind := resources.Get "css/tailwind.min.css" | fingerprint }}
<link rel="stylesheet" href="{{ $tailwind.Permalink }}">

{{/*  Open Graph  */}}
{{ template "_internal/opengraph.html" . }}

{{/*  GA 4  */}}
{{ template "_internal/google_analytics.html" . }}